@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Oleo+Script&subset=latin,latin-ext);



html, body {
  height: 100%;
}

body {
  padding-top: 85px;
  font-family: 'Lato', sans-serif;
}

.table-date{
  background-color: #BBB !important;
  border-radius: 8px !important;
}

.detalhes {
  border: solid 1px #555;
  padding: 15px;
  margin: 0px 0 20px 0px;
}

.menu-nav {
  background-color: #071995;
  height: 60px;
  padding: 15px;
  border-bottom: 2px solid #150759;
}

.menu-logo {
  font-size: 40px;
  font-family: 'Oleo Script', cursive;
  text-shadow: 2px 2px 0 #831C02;
}

.menu-nav a {
  color: #fff;
}

.link-none {
  text-decoration: none;
}

.sidebar {
  position: fixed;
  top: 85px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
  background-color: #fefefe;
}

.menu-left-list {
  font-size: 14pt;
}

.menu-left-list li {
  color: #22313F;
  padding: 10px 30px;
  
}

.menu-left-list li:hover {
  background-color: #F4D03F;
  color: #fff;
  font-weight: bold;
  border-left: 4px solid #D35400;
  padding: 10px -10px;
  transition: 0.3s;
  cursor: pointer;
}


.main {
  padding: 15px;
}


@media(max-width: 768px) {
  .btn-block-xs {
    width: 100%;
  }
}